html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: #333;
  font-family: 'Roboto', sans-serif;
}
.preloader {
  background-color: #333;
  z-index: 9999999;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.preloader::before,
.preloader::after {
  content: '';
  width: 20px;
  height: 20px;
  border-radius: 20px;
  position: absolute;
  background: white;
  left: 50%;
  top: 50%;
  margin-top: -10px;
}
.preloader::before {
  margin-left: 10px;
  -webkit-animation: balls_before 1.5s infinite ease-in-out;
          animation: balls_before 1.5s infinite ease-in-out;
}
.preloader::after {
  margin-left: -10px;
  -webkit-animation: balls_after 1.5s infinite ease-in-out;
          animation: balls_after 1.5s infinite ease-in-out;
}
@-webkit-keyframes balls_before {
  0% {
    -webkit-transform: translateX(0px) rotate(0deg);
            transform: translateX(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateX(50px) scale(1.2) rotate(260deg);
            transform: translateX(50px) scale(1.2) rotate(260deg);
    background: #19F3DB;
    border-radius: 0px;
  }
  100% {
    -webkit-transform: translateX(0px) rotate(0deg);
            transform: translateX(0px) rotate(0deg);
  }
}
@keyframes balls_before {
  0% {
    -webkit-transform: translateX(0px) rotate(0deg);
            transform: translateX(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateX(50px) scale(1.2) rotate(260deg);
            transform: translateX(50px) scale(1.2) rotate(260deg);
    background: #19F3DB;
    border-radius: 0px;
  }
  100% {
    -webkit-transform: translateX(0px) rotate(0deg);
            transform: translateX(0px) rotate(0deg);
  }
}
@-webkit-keyframes balls_after {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(-50px) scale(1.2) rotate(-260deg);
            transform: translateX(-50px) scale(1.2) rotate(-260deg);
    background: #19F3DB;
    border-radius: 0px;
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}
@keyframes balls_after {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(-50px) scale(1.2) rotate(-260deg);
            transform: translateX(-50px) scale(1.2) rotate(-260deg);
    background: #19F3DB;
    border-radius: 0px;
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}
.full-background {
  position: fixed;
  z-index: 99999;
  background-color: #333;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  /*transition: all .5s;*/
}
.full-background.active {
  /*opacity: 1;*/
  visibility: visible;
}
#navbar {
  -webkit-perspective: 2000px;
          perspective: 2000px;
  height: 100%;
  width: 100%;
  /* /.navbar-block */
}
#navbar .navbar-block {
  width: 25%;
  height: 100%;
  /*float: left;*/
  position: relative;
  cursor: pointer;
  text-align: center;
  display: table;
  background-position: center center;
  background-size: auto 105%;
  opacity: 0;
  position: absolute;
  transition: all .5s;
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  /*transition: transform 1s;*/
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: rotateY(90deg);
          transform: rotateY(90deg);
  /*&::before {
      content: "";
      position: absolute;
      background-color: rgba(45,45,45,.7);
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: all .5s;
    }*/
  /*&:hover::before {
      background-color: transparent;
    }
*/
  /* /.navbar-center */
}
#navbar .navbar-block:nth-of-type(1) {
  background-image: url('../img/profile.jpg');
}
#navbar .navbar-block:nth-of-type(2) {
  background-image: url('../img/coding.jpg');
  /*transition-delay: 0.25s;*/
  left: 25%;
}
#navbar .navbar-block:nth-of-type(3) {
  background-image: url('../img/cat_programmer.jpg');
  /*transition-delay: 0.5s;*/
  left: 50%;
}
#navbar .navbar-block:nth-of-type(4) {
  background-image: url('../img/contact.jpg');
  /*transition-delay: 0.75s;*/
  left: 75%;
}
#navbar .navbar-block:hover {
  background-size: auto 100%;
}
#navbar .navbar-block.active {
  width: 100%;
  height: 100%;
  top: 0 !important;
  z-index: 999;
  background-size: cover;
  left: 0 !important;
}
#navbar .navbar-block.is_loaded {
  opacity: 1;
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}
#navbar .navbar-block .navbar-background {
  position: absolute;
  background-color: rgba(45, 45, 45, 0.7);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all .5s;
  /*z-index: 5;*/
}
#navbar .navbar-block .navbar-background.active {
  background-color: transparent;
}
#navbar .navbar-block .navbar-center {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  /* /.navbar-circle */
}
#navbar .navbar-block .navbar-center .navbar-circle {
  background-color: rgba(255, 255, 255, 0.08);
  width: 75px;
  height: 75px;
  position: relative;
  border-radius: 50%;
  text-align: center;
  display: inline-block;
  /* /.navbar-circle-big */
}
#navbar .navbar-block .navbar-center .navbar-circle i {
  font-size: 42px;
  color: white;
  padding: 16px;
}
#navbar .navbar-block .navbar-center .navbar-circle .navbar-circle-big {
  width: 135px;
  height: 135px;
  background-color: rgba(255, 255, 255, 0.08);
  position: absolute;
  border-radius: 50%;
  margin-top: -67.5px;
  margin-left: -67.5px;
  top: 50%;
  left: 50%;
  opacity: 0;
  transition: all .5s;
}
#navbar .navbar-block .navbar-center .navbar-circle .navbar-circle-big.active {
  opacity: 1;
  width: 75px;
  height: 75px;
  top: 50%;
  left: 50%;
  margin-left: -37.5px;
  margin-top: -37.5px;
}
#navbar .navbar-block .navbar-center .navbar-title {
  text-transform: uppercase;
  color: white;
  position: relative;
  font-weight: bold;
  margin-bottom: 20px;
}
#navbar .navbar-block .navbar-center .navbar-info {
  font-style: italic;
  color: #ddd;
  position: relative;
  opacity: 0;
  transition: opacity .2s;
}
#navbar .navbar-block .navbar-center .navbar-info.active {
  opacity: 1;
}
#navbar .navbar-block .scroll-button {
  width: 44px;
  height: 44px;
  position: absolute;
  bottom: 25px;
  opacity: .8;
  left: 50%;
  margin-left: -22px;
  background-image: url('http://codetic.net/demo/templates/Privado/img/icons/icon-arrow-desktop.svg');
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  visibility: hidden;
  transition: opacity .2s;
}
#navbar .navbar-block .scroll-button.is_loaded {
  visibility: visible;
  -webkit-animation-name: button_animation;
          animation-name: button_animation;
}
#navbar .navbar-block .scroll-button:hover {
  opacity: 1;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}
@-webkit-keyframes button_animation {
  from {
    bottom: 30px;
  }
  50% {
    bottom: 25px;
  }
  to {
    bottom: 30px;
  }
}
@keyframes button_animation {
  from {
    bottom: 30px;
  }
  50% {
    bottom: 25px;
  }
  to {
    bottom: 30px;
  }
}
@media screen and (max-width: 769px) {
  #navbar .navbar-block {
    width: 100%;
    height: 25%;
    /*float: none;
      display: block;*/
    left: 0 !important;
    background-size: cover;
  }
  #navbar .navbar-block:nth-of-type(2) {
    top: 25%;
  }
  #navbar .navbar-block:nth-of-type(3) {
    top: 50%;
  }
  #navbar .navbar-block:nth-of-type(4) {
    top: 75%;
  }
  #navbar .navbar-block .navbar-circle {
    display: none !important;
  }
  #navbar .navbar-block .navbar-circle.show_on_mobile {
    display: inline-block !important;
  }
  #navbar .navbar-block .navbar-title {
    font-size: 24px;
  }
}
/* /#navbar-block */
.wrapper {
  /* /#profile */
  /* #resume */
  /* /#portfolio */
  /* #contact */
  /* /.copyright */
  /* /.profile-facts */
}
.wrapper .close {
  display: block;
  position: fixed;
  top: 40px;
  right: 80px;
  width: 32px;
  height: 32px;
  background-image: url('../img/times.svg');
  background-size: 100%;
  z-index: 99999;
  /*opacity: .4;*/
  opacity: 1;
  transition: all .5s;
}
.wrapper .close:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}
.wrapper .close.off {
  -webkit-transform: scale(0);
          transform: scale(0);
}
@media (max-width: 768px) {
  .wrapper .close {
    top: 40px;
    right: 40px;
  }
}
.wrapper #profile {
  display: none;
  opacity: 0;
  transition: opacity .5s;
}
.wrapper #profile.active {
  display: block;
  opacity: 1;
}
.wrapper #profile .profile-name {
  background-color: #F2F2F2;
  /*background-image: url('../img/gray_background.svg');*/
  background-size: cover;
  height: 600px;
  /*padding: 100px 50px;*/
  padding-top: 100px;
  padding-left: 10%;
}
.wrapper #profile .profile-name .avatar {
  width: 128px;
  height: 128px;
  display: block;
  background-image: url('../img/avatar_new.svg');
  background-size: 100%;
  position: relative;
  z-index: 20;
  border: 5px solid #f2f2f2;
  border-radius: 50%;
  box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.1);
  transition: all .3s;
  margin-bottom: 20px;
}
.wrapper #profile .profile-name .avatar:hover {
  box-shadow: 0 0 0 13px rgba(0, 0, 0, 0.1);
}
.wrapper #profile .profile-name .profile-name-first,
.wrapper #profile .profile-name .profile-name-second {
  font-size: 6em;
  text-transform: uppercase;
  color: #535D6C;
  display: block;
  margin: 0;
  padding: 0;
  font-weight: bold;
}
.wrapper #profile .profile-name .profile-name-second {
  margin-top: -20px;
}
.wrapper #profile .profile-name .profile-name-text {
  color: #535D6C;
  position: relative;
  margin: 0;
  font-weight: 300;
}
.wrapper #profile .profile-name .profile-name-text::before {
  content: "";
  position: absolute;
  top: -8px;
  left: 0;
  background-color: #535D6C;
  height: 1px;
  width: 100px;
}
.wrapper #profile .profile-about {
  background-image: url('../img/bg.jpg');
  background-color: green;
  height: 600px;
  background-size: cover;
  /*padding: 100px 50px;*/
  /*padding-right: 50px;*/
  padding-top: 100px;
  padding-left: 50px;
  padding-right: 200px;
}
.wrapper #profile .profile-about .profile-about-title {
  text-transform: uppercase;
  font-size: 24px;
  display: block;
  margin-bottom: 20px;
}
.wrapper #profile .profile-about .profile-about-desc {
  font-size: 16px;
}
@media (max-width: 1200px) {
  .wrapper #profile .profile-name {
    padding-left: 50px;
  }
  .wrapper #profile .profile-about {
    padding-right: 25px;
    padding-left: 25px;
  }
}
@media (max-width: 768px) {
  .wrapper #profile .profile-name,
  .wrapper #profile .profile-about {
    padding-right: 20px;
    padding-left: 20px;
  }
  .wrapper #profile .profile-name {
    padding-top: 50px;
    padding-bottom: 25px;
    height: auto;
  }
  .wrapper #profile .profile-name .profile-name-first,
  .wrapper #profile .profile-name .profile-name-second {
    font-size: 5em;
  }
  .wrapper #profile .profile-name .profile-name-text {
    font-size: 2em;
  }
  .wrapper #profile .profile-about {
    padding-top: 50px;
    padding-bottom: 50px;
    height: auto;
  }
}
.wrapper #profile .profile-offer {
  background-color: #FF6F6F;
  padding-top: 65px;
  padding-bottom: 65px;
  text-align: center;
  position: relative;
}
.wrapper #profile .profile-offer .shadow-div {
  position: absolute;
  width: 50%;
  height: 100%;
  right: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.05);
}
.wrapper #profile .profile-offer .profile-offer-icon {
  font-size: 35px;
}
.wrapper #profile .profile-offer .profile-offer-title {
  color: white;
  font-size: 24px;
  margin-top: 20px;
  font-style: italic;
}
.wrapper #profile .profile-offer .offer-item {
  text-align: center;
  margin-top: 100px;
}
.wrapper #profile .profile-offer .offer-item .item-icon {
  font-size: 24px;
  box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  background-color: white;
  color: #ff6f6f;
  padding: 10px;
  font-size: 36px;
  display: inline-block;
  transition: all .3s;
}
.wrapper #profile .profile-offer .offer-item .item-icon:hover {
  box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.3);
}
.wrapper #profile .profile-offer .offer-item .item-title,
.wrapper #profile .profile-offer .offer-item .item-desc {
  color: white;
  display: block;
  margin-top: 15px;
}
.wrapper #profile .profile-offer .offer-item .item-title {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}
.wrapper #profile .profile-offer .offer-item .item-desc {
  color: white;
  font-weight: 300;
}
.wrapper #resume {
  display: none;
  opacity: 0;
  transition: opacity .5s;
  /* /.edu-emp */
}
.wrapper #resume.active {
  display: block;
  opacity: 1;
}
.wrapper #resume .edu_emp {
  background-color: #F2F2F2;
  padding-top: 70px;
  padding-bottom: 100px;
  position: relative;
  /* /.education */
  /* /.employment */
}
.wrapper #resume .edu_emp .education h2,
.wrapper #resume .edu_emp .employment h2 {
  text-transform: uppercase;
  font-weight: 300;
  margin-bottom: 70px;
  font-size: 24px;
  letter-spacing: 2px;
}
.wrapper #resume .edu_emp .education .edu-list,
.wrapper #resume .edu_emp .employment .edu-list,
.wrapper #resume .edu_emp .education .emp-list,
.wrapper #resume .edu_emp .employment .emp-list {
  list-style-type: none;
  padding: 0;
}
.wrapper #resume .edu_emp .education .edu-list li,
.wrapper #resume .edu_emp .employment .edu-list li,
.wrapper #resume .edu_emp .education .emp-list li,
.wrapper #resume .edu_emp .employment .emp-list li {
  display: block;
}
.wrapper #resume .edu_emp .education .edu-list li h3,
.wrapper #resume .edu_emp .employment .edu-list li h3,
.wrapper #resume .edu_emp .education .emp-list li h3,
.wrapper #resume .edu_emp .employment .emp-list li h3 {
  text-transform: uppercase;
  font-size: 18px;
  margin: 20px 0;
  color: #4E4E4E;
}
.wrapper #resume .edu_emp .education .edu-list li h4,
.wrapper #resume .edu_emp .employment .edu-list li h4,
.wrapper #resume .edu_emp .education .emp-list li h4,
.wrapper #resume .edu_emp .employment .emp-list li h4 {
  font-weight: 300;
  margin: 20px 0;
  font-size: 16px;
}
.wrapper #resume .edu_emp .education .edu-list li span,
.wrapper #resume .edu_emp .employment .edu-list li span,
.wrapper #resume .edu_emp .education .emp-list li span,
.wrapper #resume .edu_emp .employment .emp-list li span {
  color: #29C3CB;
  font-size: 14px;
  margin: 10px 0;
  display: inline-block;
}
.wrapper #resume .edu_emp .education .edu-list li p,
.wrapper #resume .edu_emp .employment .edu-list li p,
.wrapper #resume .edu_emp .education .emp-list li p,
.wrapper #resume .edu_emp .employment .emp-list li p {
  margin-top: 20px;
  font-size: 13px;
  color: #777777;
  margin-top: 5px;
  line-height: 200%;
}
.wrapper #resume .edu_emp .education {
  text-align: right;
  padding-right: 50px;
}
.wrapper #resume .edu_emp .education .edu-list li p {
  padding-left: 150px;
}
.wrapper #resume .edu_emp .employment {
  text-align: left;
  padding-left: 50px;
}
.wrapper #resume .edu_emp .employment .emp-list li p {
  padding-right: 150px;
}
@media (max-width: 768px) {
  .wrapper #resume .edu_emp .education,
  .wrapper #resume .edu_emp .employment {
    padding-left: 15px;
    padding-right: 15px;
  }
  .wrapper #resume .edu_emp .education .edu-list li p,
  .wrapper #resume .edu_emp .employment .edu-list li p,
  .wrapper #resume .edu_emp .education .emp-list li p,
  .wrapper #resume .edu_emp .employment .emp-list li p {
    padding-left: 0;
    padding-right: 0;
  }
}
@media (max-width: 500px) {
  .wrapper #resume .edu_emp .education,
  .wrapper #resume .edu_emp .employment {
    padding-left: 15px;
    padding-right: 15px;
  }
  .wrapper #resume .edu_emp .education h2,
  .wrapper #resume .edu_emp .employment h2 {
    font-size: 14px;
  }
  .wrapper #resume .edu_emp .education .edu-list li h3,
  .wrapper #resume .edu_emp .employment .edu-list li h3,
  .wrapper #resume .edu_emp .education .emp-list li h3,
  .wrapper #resume .edu_emp .employment .emp-list li h3 {
    font-size: 15px;
  }
  .wrapper #resume .edu_emp .education .edu-list li p,
  .wrapper #resume .edu_emp .employment .edu-list li p,
  .wrapper #resume .edu_emp .education .emp-list li p,
  .wrapper #resume .edu_emp .employment .emp-list li p {
    padding-left: 0;
    padding-right: 0;
    font-size: 12px;
  }
}
@media (max-width: 500px) {
  .wrapper #resume .edu_emp .education,
  .wrapper #resume .edu_emp .employment {
    /*padding-left: 15px;
          padding-right: 15px;
*/
  }
  .wrapper #resume .edu_emp .education h2,
  .wrapper #resume .edu_emp .employment h2 {
    font-size: 12px;
  }
  .wrapper #resume .edu_emp .education .edu-list li h3,
  .wrapper #resume .edu_emp .employment .edu-list li h3,
  .wrapper #resume .edu_emp .education .emp-list li h3,
  .wrapper #resume .edu_emp .employment .emp-list li h3 {
    font-size: 14px;
  }
  .wrapper #resume .edu_emp .education .edu-list li h4,
  .wrapper #resume .edu_emp .employment .edu-list li h4,
  .wrapper #resume .edu_emp .education .emp-list li h4,
  .wrapper #resume .edu_emp .employment .emp-list li h4 {
    font-size: 13px;
  }
  .wrapper #resume .edu_emp .education .edu-list li p,
  .wrapper #resume .edu_emp .employment .edu-list li p,
  .wrapper #resume .edu_emp .education .emp-list li p,
  .wrapper #resume .edu_emp .employment .emp-list li p {
    padding-left: 0;
    padding-right: 0;
    font-size: 11px;
  }
}
.wrapper #resume .skills {
  background-color: #0ED4C8;
  padding-top: 75px;
  padding-bottom: 100px;
  text-align: center;
  position: relative;
}
.wrapper #resume .skills p {
  color: white;
  font-size: 24px;
  margin-top: 10px;
  margin-bottom: 40px;
  font-style: italic;
}
.wrapper #resume .skills .skills-circle {
  text-align: center;
  margin-bottom: 40px;
}
.wrapper #resume .skills .skills-circle .circle {
  display: inline-block;
}
.wrapper #resume .skills .skills-circle span {
  color: white;
  display: block;
  margin-top: 10px;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
}
.wrapper #resume .features .features-left {
  height: 500px;
  /*background-color: green;*/
  background-image: url('../img/bg-2.jpg');
  background-size: cover;
  color: white;
  padding-top: 100px;
  padding-left: 100px;
  padding-right: 50px;
}
.wrapper #resume .features .features-left h1 {
  margin-bottom: 35px;
}
@media (max-width: 770px) {
  .wrapper #resume .features .features-left {
    height: auto;
    padding: 15px;
  }
}
.wrapper #resume .features .features-right {
  height: 500px;
  background-color: #F9F9F9;
  /*padding-right: 300px;*/
  padding-top: 30px;
  padding-left: 30px;
}
.wrapper #resume .features .features-right ul {
  list-style-type: none;
  max-width: 600px;
}
.wrapper #resume .features .features-right ul li {
  margin-bottom: 25px;
  display: block;
}
.wrapper #resume .features .features-right ul li span {
  display: inline-block;
  width: 64px;
  height: 64px;
  background-size: 100%;
  float: left;
  margin-right: 20px;
}
.wrapper #resume .features .features-right ul li span.animation-icon {
  background-image: url('../img/circle.svg');
}
.wrapper #resume .features .features-right ul li span.opensource-icon {
  background-image: url('../img/opensource.svg');
}
.wrapper #resume .features .features-right ul h3 {
  text-transform: uppercase;
  color: #474747;
  font-size: 1.5em;
  font-weight: bold;
}
.wrapper #resume .features .features-right ul h4 {
  font-weight: 300;
  font-size: 1.2em;
  margin-top: 10px;
}
@media (max-width: 770px) {
  .wrapper #resume .features .features-right {
    height: auto;
    padding: 30px 15px;
  }
  .wrapper #resume .features .features-right ul {
    padding: 0;
  }
}
.wrapper #portfolio {
  display: none;
  opacity: 0;
  transition: opacity .5s;
}
.wrapper #portfolio.active {
  display: block;
  opacity: 1;
}
.wrapper #portfolio .portfolio {
  background-color: #f9f9f9;
  padding-top: 100px;
  padding-bottom: 70px;
  /*   @media (max-width: 770px) {
        .container.portfolio-container {
          .mix {
*/
  /*.mix-count {*/
  /*  p {
                    margin-left: 25px;
                    opacity: 1 !important;
                  }*/
  /*&::before {
                    transform: translate3d(0,0,0);
                    opacity: 1;
                  }*/
  /*}*/
  /*     }
        }
      }
*/
}
.wrapper #portfolio .portfolio .portfolio-container {
  max-width: 1400px !important;
}
.wrapper #portfolio .portfolio .portfolio-container .portfolio-button {
  text-align: center;
  margin-bottom: 30px;
}
.wrapper #portfolio .portfolio .portfolio-container .portfolio-button button {
  padding: 10px 25px;
  border: none;
  outline: none;
  background-color: #f3f3f3;
  color: #777;
  text-transform: uppercase;
  transition: all .2s;
  margin: 0 2px;
}
.wrapper #portfolio .portfolio .portfolio-container .portfolio-button button:hover,
.wrapper #portfolio .portfolio .portfolio-container .portfolio-button button.active {
  background-color: #3F3F46;
  color: white;
}
.wrapper #portfolio .portfolio .portfolio-container #Container .mix {
  padding-top: 15px;
  padding-bottom: 15px;
  /*padding: 15px;

            width: 33.3%;*/
  overflow: hidden;
  /*height: 300px;*/
  /*float: left;*/
  display: none;
}
.wrapper #portfolio .portfolio .portfolio-container #Container .mix .mix-cont {
  display: block;
  border: 10px solid white;
  width: 100%;
  /*height: 100%;*/
  overflow: hidden;
  /*max-height: 323px;*/
  background: linear-gradient(45deg, #3f3f46 0%, #05abe0 100%);
  position: relative;
  /*background-image: url('http://codetic.net/demo/templates/Privado/img/portfolio/thumb/p-1.jpg');*/
  /*background-size: cover;*/
}
.wrapper #portfolio .portfolio .portfolio-container #Container .mix .mix-cont img {
  width: 100%;
  /*width: 120%;*/
  /*width: 100%;*/
  width: calc(100% + 50px);
  -webkit-transform: translate3d(-50px, 0, 0);
          transform: translate3d(-50px, 0, 0);
  transition: opacity .35s, -webkit-transform .35s;
  transition: opacity .35s, transform .35s;
  transition: opacity .35s, transform .35s, -webkit-transform .35s;
  opacity: 0.6;
}
.wrapper #portfolio .portfolio .portfolio-container #Container .mix .mix-cont .cont-desc {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
  color: white;
}
.wrapper #portfolio .portfolio .portfolio-container #Container .mix .mix-cont .cont-desc h2 {
  text-transform: uppercase;
  margin-top: 100px;
  font-size: 2.6em;
  margin-left: 25px;
}
.wrapper #portfolio .portfolio .portfolio-container #Container .mix .mix-cont .cont-desc p {
  text-transform: uppercase;
  font-weight: 400;
  /*margin-left: -25px;*/
  opacity: 0;
  transition: all .35s;
}
.wrapper #portfolio .portfolio .portfolio-container #Container .mix .mix-cont .cont-desc::before {
  content: "";
  position: absolute;
  top: 30px;
  left: 30px;
  right: 30px;
  bottom: 30px;
  /*width: 100%;*/
  /*height: 100%;*/
  -webkit-transform: translate3d(-30px, 0, 0);
          transform: translate3d(-30px, 0, 0);
  transition: all .3s;
  border: 1px solid white;
  opacity: 0;
  /*z-index: 1000;*/
}
.wrapper #portfolio .portfolio .portfolio-container #Container .mix .mix-cont:hover img {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  opacity: 0.3;
}
.wrapper #portfolio .portfolio .portfolio-container #Container .mix .mix-cont:hover .cont-desc p {
  margin-left: 25px;
  opacity: 1;
}
.wrapper #portfolio .portfolio .portfolio-container #Container .mix .mix-cont:hover .cont-desc::before {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  opacity: 1;
}
@media (max-width: 770px) {
  .wrapper #portfolio .portfolio .portfolio-container #Container .mix .mix-cont img {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    opacity: 0.6;
  }
  .wrapper #portfolio .portfolio .portfolio-container #Container .mix .mix-cont .cont-desc p {
    margin-left: 25px;
    opacity: 1;
  }
}
@media (max-width: 500px) {
  .wrapper #portfolio .portfolio .portfolio-container #Container .mix .mix-cont img {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    opacity: 0.6;
  }
  .wrapper #portfolio .portfolio .portfolio-container #Container .mix .mix-cont .cont-desc {
    padding: 0;
  }
  .wrapper #portfolio .portfolio .portfolio-container #Container .mix .mix-cont .cont-desc h2 {
    margin-top: 25px;
  }
  .wrapper #portfolio .portfolio .portfolio-container #Container .mix .mix-cont .cont-desc p {
    margin-left: 25px;
    opacity: 1;
  }
}
@media (min-width: 1200px) {
  .wrapper #portfolio .portfolio .container.portfolio-container {
    padding-left: 200px;
    padding-right: 200px;
  }
}
.wrapper #portfolio .testimonials {
  background-color: #f2f2f2;
  padding-top: 70px;
  padding-bottom: 70px;
  text-align: center;
  position: relative;
}
.wrapper #portfolio .testimonials .smiley {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-image: url('http://codetic.net/demo/templates/Privado/img/icons/smile.svg');
}
.wrapper #portfolio .testimonials .testimonials-title {
  font-style: italic;
  color: #3F3F46;
  font-weight: 400;
  margin-bottom: 25px;
}
.wrapper #portfolio .testimonials .testimonials-sign {
  /*padding-left: 600px;
        padding-right: 600px;*/
  max-width: 600px;
  margin: 0 auto;
}
.wrapper #portfolio .testimonials .testimonials-sign li {
  padding-top: 10px;
  padding-bottom: 10px;
}
.wrapper #portfolio .testimonials .testimonials-sign li sub,
.wrapper #portfolio .testimonials .testimonials-sign li sup,
.wrapper #portfolio .testimonials .testimonials-sign li p {
  display: inline;
}
.wrapper #portfolio .testimonials .testimonials-sign li sup,
.wrapper #portfolio .testimonials .testimonials-sign li sub {
  color: #aaaaad;
  font-size: 18px;
}
.wrapper #portfolio .testimonials .testimonials-sign li .author {
  font-size: 13px;
  color: #535358;
  display: block;
  margin-top: 8px;
}
.wrapper #portfolio .testimonials .lSSlideOuter .lSPager.lSpg > li a {
  width: 12px;
  height: 12px;
  background-color: #98989C;
  transition: all .2s linear 0s;
}
.wrapper #portfolio .testimonials .lSSlideOuter .lSPager.lSpg > li.active a,
.wrapper #portfolio .testimonials .lSSlideOuter .lSPager.lSpg > li:hover a {
  background-color: #3F3F46;
}
.wrapper #contact {
  display: none;
  opacity: 0;
  transition: opacity .5s;
  /* /.contact-feel */
  /* /.contact-map */
}
.wrapper #contact.active {
  display: block;
  opacity: 1;
}
.wrapper #contact .contact-feel {
  position: relative;
  background-color: #f2f2f2;
  padding-top: 70px;
  padding-bottom: 70px;
  text-align: center;
}
.wrapper #contact .contact-feel .contact-icon {
  color: #404148;
  font-size: 48px;
  margin-bottom: 20px;
}
.wrapper #contact .contact-feel .contact-title {
  color: #404148;
  font-weight: 400;
  font-size: 2em;
  font-style: italic;
  margin-bottom: 40px;
}
.wrapper #contact .contact-feel .shadow-div {
  opacity: .5;
}
.wrapper #contact .contact-feel .contact-form {
  max-width: 1000px;
  margin: 0 auto;
  background-color: #f9f9f9;
  padding: 20px;
  position: relative;
}
.wrapper #contact .contact-feel .contact-form input,
.wrapper #contact .contact-feel .contact-form textarea,
.wrapper #contact .contact-feel .contact-form button {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: transparent;
}
.wrapper #contact .contact-feel .contact-form input {
  width: 48%;
}
.wrapper #contact .contact-feel .contact-form input[type=text] {
  /*margin-right: 15px;*/
  float: left;
}
.wrapper #contact .contact-feel .contact-form input[type=email] {
  /*margin-left: 15px;*/
  float: right;
}
.wrapper #contact .contact-feel .contact-form textarea,
.wrapper #contact .contact-feel .contact-form button {
  width: 100%;
}
.wrapper #contact .contact-feel .contact-form input,
.wrapper #contact .contact-feel .contact-form textarea,
.wrapper #contact .contact-feel .contact-form button {
  padding: 15px;
  font-size: 16px;
  font-weight: 300;
  color: black;
  border: 1px solid #D9D9DA;
}
.wrapper #contact .contact-feel .contact-form input::-webkit-input-placeholder,
.wrapper #contact .contact-feel .contact-form textarea::-webkit-input-placeholder,
.wrapper #contact .contact-feel .contact-form button::-webkit-input-placeholder {
  color: #3F4047;
}
.wrapper #contact .contact-feel .contact-form textarea {
  height: 200px;
}
.wrapper #contact .contact-feel .contact-form button {
  text-transform: uppercase;
  font-weight: bold;
  color: #3F538E;
}
.wrapper #contact .contact-feel .contact-form button:hover {
  border: 1px solid black;
  color: black;
}
@media (max-width: 770px) {
  .wrapper #contact .contact-feel .container {
    padding-left: 0;
    padding-right: 0;
  }
  .wrapper #contact .contact-feel .container .contact-form {
    padding-left: 10px;
    padding-right: 10px;
  }
}
.wrapper #contact .contact-map {
  background-color: #FE7C60;
}
.wrapper #contact .contact-map .contact-map-left {
  padding-top: 70px;
  padding-bottom: 60px;
  /* /.list-enth */
}
.wrapper #contact .contact-map .contact-map-left .list-enth {
  list-style-type: none;
  /* /li */
}
.wrapper #contact .contact-map .contact-map-left .list-enth li {
  text-align: center;
  display: block;
  width: 33.33%;
  float: left;
  padding: 5px;
}
.wrapper #contact .contact-map .contact-map-left .list-enth li i {
  font-size: 32px;
  color: #53474A;
  margin-bottom: 15px;
}
.wrapper #contact .contact-map .contact-map-left .list-enth li span {
  display: block;
  color: #f3f3f3;
  text-transform: uppercase;
  font-weight: bold;
  word-wrap: break-word;
}
.wrapper #contact .contact-map .contact-map-left .list-enth li:nth-of-type(1),
.wrapper #contact .contact-map .contact-map-left .list-enth li:nth-of-type(2) {
  border-right: 1px solid #f3f3f3;
}
.wrapper #contact .contact-map .contact-map-left .list-socmedia {
  list-style-type: none;
  margin-top: 120px;
  margin-left: 150px;
}
.wrapper #contact .contact-map .contact-map-left .list-socmedia li {
  display: inline-block;
  margin: 0 5px;
  margin-bottom: 10px;
  /* /.soc-circle */
}
.wrapper #contact .contact-map .contact-map-left .list-socmedia li .soc-circle {
  background-color: white;
  width: 45px;
  height: 45px;
  position: relative;
  border-radius: 50%;
  text-align: center;
  display: inline-block;
}
.wrapper #contact .contact-map .contact-map-left .list-socmedia li .soc-circle i {
  font-size: 26px;
  color: #7c7c7c;
  padding-top: 10px;
  position: relative;
  z-index: 999;
}
.wrapper #contact .contact-map .contact-map-left .list-socmedia li .soc-circle::before {
  content: "";
  width: 80px;
  height: 80px;
  background-color: rgba(255, 255, 255, 0.4);
  position: absolute;
  border-radius: 50%;
  margin-top: -40px;
  margin-left: -40px;
  top: 50%;
  left: 50%;
  opacity: 0;
  transition: all .5s;
  visibility: hidden;
}
.wrapper #contact .contact-map .contact-map-left .list-socmedia li .soc-circle:hover i {
  color: #FE7C60;
}
.wrapper #contact .contact-map .contact-map-left .list-socmedia li .soc-circle:hover::before {
  opacity: 1;
  width: 45px;
  height: 45px;
  top: 50%;
  left: 50%;
  margin-left: -22.5px;
  margin-top: -22.5px;
  visibility: visible;
}
.wrapper #contact .contact-map .contact-map-left::after {
  border-right: 403px solid transparent;
  border-top: 403px solid #F4775C;
  content: "";
  height: 100%;
  position: absolute;
  right: -403px;
  top: 0;
  width: 1px;
  z-index: 2;
}
@media (max-width: 1380px) {
  .wrapper #contact .contact-map .contact-map-left .list-enth {
    padding: 0;
  }
  .wrapper #contact .contact-map .contact-map-left .list-socmedia {
    margin-left: 0;
  }
}
@media (max-width: 1200px) {
  .wrapper #contact .contact-map .contact-map-left .list-enth li {
    /*padding: 0;*/
  }
  .wrapper #contact .contact-map .contact-map-left .list-enth li span {
    font-size: 11px;
  }
}
@media (max-width: 770px) {
  .wrapper #contact .contact-map .contact-map-left::after {
    display: none;
  }
  .wrapper #contact .contact-map .contact-map-left .list-enth li span {
    font-size: 14px;
  }
}
@media (max-width: 600px) {
  .wrapper #contact .contact-map .contact-map-left .list-enth li span {
    font-size: 11px;
  }
  .wrapper #contact .contact-map .contact-map-left .list-socmedia {
    padding-left: 0;
  }
}
.wrapper #contact .contact-map .contact-map-right {
  background-color: #ccc;
  /*height: 400px;*/
  min-height: 400px;
}
.wrapper .copyright {
  background-color: #eee;
  padding-top: 20px;
  padding-bottom: 20px;
}
.wrapper .copyright .copyright-title {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  margin-left: 35px;
  border-right: 1px solid #555;
  padding-right: 35px;
  color: #555;
  margin-top: 0px;
  margin-bottom: 0px;
}
.wrapper .copyright .copyright-text {
  color: #999;
  margin-left: 35px;
  font-size: 11px;
}
@media (max-width: 768px) {
  .wrapper .copyright .copyright-title {
    font-size: 12px;
    margin-left: 15px;
    padding-right: 15px;
  }
  .wrapper .copyright .copyright-text {
    margin-left: 15px;
  }
}
.wrapper .profile-facts {
  padding-top: 50px;
  padding-bottom: 50px;
  background-image: url('../img/lviv_panorama.jpg');
  /*background-size: auto 100%;*/
}
.wrapper .profile-facts ul {
  list-style-type: none;
  /*padding: 0;*/
}
.wrapper .profile-facts ul li {
  /*display: inline-block;*/
  float: left;
  display: block;
  text-align: center;
  color: white;
  width: 20%;
  border-right: 2px solid white;
  padding: 20px 0;
}
.wrapper .profile-facts ul li .text-icon,
.wrapper .profile-facts ul li .text-title {
  display: block;
}
.wrapper .profile-facts ul li .text-icon {
  /*font-size: 32px;*/
  margin-bottom: 16px;
  /*font-weight: bold;*/
}
.wrapper .profile-facts ul li .text-title {
  text-transform: uppercase;
}
.wrapper .profile-facts ul li:last-of-type {
  border-right: none;
}
@media screen and (max-width: 769px) {
  .wrapper .profile-facts ul {
    padding: 0;
  }
  .wrapper .profile-facts ul .text-icon {
    font-size: 2em;
  }
  .wrapper .profile-facts ul .text-title {
    font-size: 10px;
  }
}
@media screen and (max-width: 450px) {
  .wrapper .profile-facts .col-sm-12 {
    padding: 0;
  }
  .wrapper .profile-facts .col-sm-12 ul {
    padding: 0;
  }
  .wrapper .profile-facts .col-sm-12 ul li {
    padding: 0;
    padding-bottom: 5px;
  }
  .wrapper .profile-facts .col-sm-12 ul li .text-icon {
    font-size: 1.4em;
    margin-top: 5px;
  }
  .wrapper .profile-facts .col-sm-12 ul li .text-title {
    font-size: 8px;
  }
}
@media screen and (max-width: 340px) {
  .wrapper .profile-facts .col-sm-12 {
    padding: 0;
  }
  .wrapper .profile-facts .col-sm-12 ul {
    padding: 0;
  }
  .wrapper .profile-facts .col-sm-12 ul li {
    padding: 0;
    padding-bottom: 5px;
  }
  .wrapper .profile-facts .col-sm-12 ul li .text-icon {
    font-size: 1em;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .wrapper .profile-facts .col-sm-12 ul li .text-title {
    font-size: 6px;
  }
}
/* /.wrapper */
.shadow-div {
  position: absolute;
  width: 50%;
  height: 100%;
  right: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.05);
}
